{
  "$schema": "settingSchema.json",
  "downloadRules":[
    {
      "name": "firstRule",
      "download": "",
      "list": "first.json",
      "createTitleFolder": false,
      "checkEpisodeNubmer": false,
      "deleteOlderEpisodes": true
    },
    {
      "name": "secondRule",
      "download": "",
      "list": "second.json",
      "include": "",
      "exclude": "",
      "removeFromList": true
    }
  ],
  "sites": [
    {
      "name": "사이트명",
      "mainUrl": "https://mainUrl.com/",
      "enable": true,
      "boards": [
        {
          "name": "게시판명",
          "url": "subUrl",
          "title": {
            "selector": "ul.list-body > li.list-item"
          },
          "downloadRule": "secondRule",
          "history": 0,
          "number": 0,
          "scrapPage": 3
        },
        {
          "name": "게시판2",
          "url": "usbUrl",
          "title": {
            "selector": "ul.list-body > li.list-item"
          },
          "downloadRule": "firstRule",
          "history": 0,
          "number": 0,
          "scrapPage": 3
        }
      ]
    }
  ],
  "torrentHistory":"torrentHistory.csv",
  "torrentFail":"torrentFail.csv",
  "notification": {
    "cmd": "",
    "keywords": ["키워드", "키워드2"],
    "excludeKeywords": ["광고", "스팸", "테스트"],
    "history":"notiHistory.csv"
  },
  "torrentClient": {
    "type": "transmission",
    "host": "127.0.0.1",
    "port": 9091,
    "id": "transmission"
  },
  "owners": {
    "puid": 1000,
    "pgid": 1000
  },
  "logging": {
    "logLevel": "ERROR",
    "logFile": "scraper.log",
    "maxBytes": 1048576,
    "backupCount": 5
  }
}
